<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846169404753-olao35tnmp2g83at0applohebnj5s6a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846169404753-olao35tnmp2g83at0applohebnj5s6a6</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kuqoUJgfXXExK54sjN2zxJNvRGoV8Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>846169404753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LuigiScherillo.contactsCloud</string>
	<key>PROJECT_ID</key>
	<string>contactscloud-c21e5</string>
	<key>STORAGE_BUCKET</key>
	<string>contactscloud-c21e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846169404753:ios:f6b93ebaea0dceee</string>
	<key>DATABASE_URL</key>
	<string>https://contactscloud-c21e5.firebaseio.com</string>
</dict>
</plist>